@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: 'Montserrat';
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header {
    padding: 1em 2em;
    padding-bottom: 1em;
}   

header ul{
    list-style: none;
    margin-top: 1em;
    float: right;
}

header li{
    float: left;
    padding-left: 16px;
}

header a{
    color: black;
    font-size: 20px;
}

nav{
    position: absolute;
    background-color: #19375f;
	display: none;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
    transform-origin: right;
    z-index: 3;
}

nav .close-btn{
    margin: 2em 49px;
    width: 18px;
    float: right;
    cursor: pointer;
    opacity: 0;
}

nav a{
	color: white;
	font-weight:bold;
	font-size:2em;
	line-height:2em;
}

nav ul.pri-menu{
    clear: both;
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5,20%);
    width: 80%;
}

nav .duo-menu{
    display: block;
    font-size: 10px;
}

nav li{
    display: block;
    text-align: left;
	opacity: 0;
}

.profile-btn{
    display: block;
}

.block-btn{
    display: block;
}

.none-btn{
    display: none;
}

.menu-btn{
    cursor: pointer;
}

.show-menu{
    display:block;
    animation: slide-menu 1s ease-in forwards;
}

.overflow{
    overflow: hidden;
    width: calc(100% - 17px);
}

.show-menu .close-btn{
    animation: show-x 1s 1s forwards;
}

.show-menu .pri-menu > li:nth-of-type(1){
	animation: menu-item-anim 0.6s forwards 1s ease-in-out;
}

.show-menu .pri-menu > li:nth-of-type(2){
	animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
}

.show-menu .pri-menu > li:nth-of-type(3){
	animation: menu-item-anim 0.6s forwards 1.4s ease-in-out;
}

.show-menu .pri-menu > li:nth-of-type(4){
	animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
}

.show-menu .duo-menu li:nth-of-type(1){
	animation: menu-item-anim 1s forwards 1.2s ease-in-out;
}

.show-menu .duo-menu li:nth-of-type(2){
	animation: menu-item-anim 1s forwards 1.4s ease-in-out;
}

.show-menu .duo-menu li:nth-of-type(3){
	animation: menu-item-anim 1s forwards 1.6s ease-in-out;
}

.show-menu .duo-menu li:nth-of-type(4){
	animation: menu-item-anim 1s forwards 1.8s ease-in-out;
}

@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes menu-item-anim{
	from{
		transform: translateY(60%);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}

.gotopbtn{
    position: fixed;    
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    z-index: 2;
}

/*section start*/
section{
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 2;
    margin-bottom: 213px;
}

/*section end*/

/*footer*/ 

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 35px 0;
}

footer a{
    color: white;
}

.foot{
    max-width:80%;
    margin: auto;
}

footer ul{
    list-style: none;
    height: 100px;
    width: 200px;
    font-size: 13px;
    text-align: center;
    float: left;
    padding: 0px 50px 10px 50px;
    line-height: 25px;
}

footer ul u{
    font-size: 17px;
}