.main {
	margin: 20px 20% 20px 20%;
}
a, button {
	color: black;
	font-family: 'Montserrat';
}
h1 {
	font-variant: small-caps;
	text-decoration: underline;
}
.bgroundImg {
	background-image: url('../image/24.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
label {
	cursor: pointer;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 1330px;
	float: left;
	padding: 10px;
}
.scolumn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 10px;
}
.noBgColor {
	background-color: transparent;
}
.clear {
	clear: both;
}
.left {
	background-color: silver;
	width: 25%;
}
.right {
	background-color: white;
	width: 75%;
}
.avatar {
	border-radius: 50%;
	cursor: pointer;
}
.avatar:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
  			animation: shake 0.5s;
/* When the animation is finished, start again */animation-iteration-count: infinite;
}
@keyframes shake {
  				0% { transform: translate(1px, 1px) rotate(0deg); }
  				10% { transform: translate(-1px, -2px) rotate(-1deg); }
  				20% { transform: translate(-3px, 0px) rotate(1deg); }
  				30% { transform: translate(3px, 2px) rotate(0deg); }
  				40% { transform: translate(1px, -1px) rotate(1deg); }
  				50% { transform: translate(-1px, 2px) rotate(-1deg); }
  				60% { transform: translate(-3px, 1px) rotate(0deg); }
  				70% { transform: translate(3px, 1px) rotate(-1deg); }
  				80% { transform: translate(-1px, -1px) rotate(1deg); }
  				90% { transform: translate(1px, 2px) rotate(0deg); }
  				100% { transform: translate(1px, -2px) rotate(-1deg); }
			}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], textarea {
	width: 95%;
	padding: 15px;
	margin: 5px 0 5px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=date]:focus, textarea:focus {
	background-color: #ddd;
	outline: none;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px auto;
	border: none;
	cursor: pointer;
}
.cancelbtn {
	background-color: #FF0000;
	margin: 8px auto;
}
button:hover {
	opacity: 0.8;
}
/*the container must be positioned relative:*/
.custom-select {
	position: relative;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
	background-color: #f1f1f1;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #f1f1f1;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.fa {
	padding: 10px;
	font-size: 15px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-google {
	background: #dd4b39;
	color: white;
}
.fa-edit {
	font-size: small;
}
.hyper {
	background-color: silver;
	color: black;
	margin: 5px auto;
	padding: 10px 10px;
}
.hyper:hover {
	background-color: gray;
}
/* Add padding to container elements */
.container {
	padding: 16px;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */;
	position: fixed; /* Stay in place */;
	z-index: 2; /* Sit on top */;
	left: 0;
	top: 0;
	width: 100%; /* Full width */;
	height: 100%; /* Full height */;
	background-color: rgba(5,5,5,0.5);
	padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
/* 5% from the top, 15% from the bottom and centered */border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}
/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}
/* The Close Button (x) */
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}
.close:hover, .close:focus {
	color: #f44336;
	cursor: pointer;
}
/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
	width: 100%;
}
}
